table {
  border: 1px solid #96c422;
  border-collapse: collapse;
  text-align: center;
  
}
tr:first-child{
  background-color: rgb(102, 158, 17);
  
  
  
}
tr:nth-child(2){
  background-color: #ddebbc;

}
